

body{
    display: flex;
    flex-direction: column;
}
.header,
.body{
    padding:10px 100px;
    background-color: #1F2937;
    display: flex;
}
.header{
    justify-content: space-between;
    font-size: 20px;
    color:#fff;
    text-align: center;
    align-items: center;
    padding-left: 100px;

    .logo{
        font-weight: bold;
    }
    .header-links{
        display: flex;
        gap:30px;
        font-size: 15px;
    }
}

.body{
    padding-top:40px;
    padding-bottom:40px;
    color:#fff;
    .left,
    .right{
        flex:1;
        flex-shrink: 0;
        flex-grow: 1;
        padding:0 20px;
    }
    .left{
        padding-left: 0;
    }
    button{
        background-color: #3882f6;
        width:80px;
        border-radius: 4px;
        border: none;
        padding:5px;
        cursor:pointer;
        a{
            color:white;
            text-decoration: none;
        }
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width:150px;
        overflow: hidden;
    }
    .right img{
        position: absolute;
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease;
        object-position:bottom;
    }
    .right img:hover{
        transform:scale(2);
    }
}

.body2-content{
    padding-bottom: 50px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .body2-header{
        font-size: 30px;
        font-weight: bold;
        padding: 20px 0;
        text-align: center;
    }
    .body2-card{
        padding:10px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px;
        a{
            text-decoration: none;
            color:black;
        }
        .card-info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:10px;
            .info{
                max-width: 150px;
                text-align: center;
                padding-top: 20px;
            }
        }
        .card-info-container:hover{
            border: 1px solid #423e3e42;
            border-radius: 10px;
            background-color: #eee;
        }
        .cards{
            height:150px;
            width:150px;
            position: relative;
            overflow: hidden;
            border:3px solid #3882f6;
            border-radius: 10px;
        }
        .cards img{
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s ease;
            position: absolute;
        }
        .ranipuram img{
            object-position: center bottom;
        }
        .cards img:hover{
            transform:scale(2);
        }
    }
    
}

.quote-body{
    padding:20px;
    background-color: #eee;
    .quote{
        font-size: 25px;
    }
    .quote-credits{
        font-size: 40px;
        text-align: end;
    }
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding:30px 0;
    color:#fff;
}

@media (max-width:770px){
    .header{
        padding:0;
    }
    .body{
        flex-direction: column;
        gap:10px;
        text-align: center;
        padding: 30px;
    }
    .body2-content{
        .body2-card{
            padding: 0;
        }
    }
    
}
@media (max-width:430px){
    .header{
        padding:10px;
        .header-links{
            font-size:10px;
            gap:10px;
        }
    }
}

@media (min-width:1400px) {
    .header{
        font-size: 25px;
    }
    .body{
        .left{
            font-size:25px;
        }
    }
}
